.chart-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.chart {
  padding: 2rem 0.75rem;
}

.chart-informations {
  text-align: center;
  display: grid;
  width: 100%;
}

.chart-information {
  border-top: 1px solid #afb1c0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 0;
}

.chart-information .title {
  color: #afb1c0;
  font-size: 1rem;
}

.chart-information .sum {
  color: black;
  font-size: 1.5rem;
  font-weight: 500;
}

@media only screen and (min-width: 768px) {
  .chart {
    width: 75% !important;
    border-bottom: 0;
    border-right: 1px solid #afb1c0;
    padding: 0.75rem;
    margin: 0;
  }
  .chart-informations {
    display: grid;
    width: 25%;
  }
  .chart-information {
    border-top: 0;
    border-bottom: 1px solid #afb1c0;
    height: auto;
  }
  .chart-information:last-child {
    border-bottom: 0;
  }
}
